/* 
  Style your elements by creating CSS classes here.
  Below, you can see an example of a class called "menu" that changes the color of the text to blue. Modify according to your needs.
*/

h1 {
  font-family: 'Lucida Handwriting', cursive, serif;
  font-weight: bold;
}
h2 {
  font-family: 'Lucida Handwriting', cursive, serif;
}
.header {
  padding: 2%;
  vertical-align: middle;
}
.footer {
  padding: 2%;
  text-align: center;
}
.tagline {
  color: darkred;
  font-family: 'Lucida Handwriting', cursive, serif;
  font-weight: bold;
}
.entry {
  padding: 2%;
}
.list {
  padding: 2%;
}
.search {
  padding: 4%;
}

.vgreen {
  color: green;
  font-weight: bold;
}

.vyellow {
  color: gold;
  font-weight: bold;
}

.vorange {
  color: orange;
  font-weight: bold;
}

.vred {
  color: red;
  font-weight: bold;
}

.banner, img{
  width:100%;
  height: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}
.buttons-con {
  padding: 2%;
}